<!-- <section id="main">  
    {{yield}}

    <input type="checkbox" id="toggle-all">
</section> -->

<section id="main">  
    {{yield}}

    {{input type="checkbox" id="toggle-all" checked=allAreDone}}
</section>  

<footer id="footer">  
    <!-- <span id="todo-count">
        <strong>2</strong> todos left
    </span> -->
    <span id="todo-count">  
	    <strong>{{remaining}}</strong> {{inflection}} left
	</span>  
    <!-- <ul id="filters">
        <li>
            <a href="all" class="selected">All</a>
        </li>
        <li>
            <a href="active">Active</a>
        </li>
        <li>
            <a href="completed">Completed</a>
        </li>
    </ul> -->
    <ul id="filters">  
	    <li>
	        {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
	    </li>
	    <li>
	        {{#link-to "todos.incomplete" activeClass="selected"}}Active{{/link-to}}
	    </li>
	    <li>
	        {{#link-to "todos.complete" activeClass="selected"}}Complete{{/link-to}}
	    </li>
	</ul>  

    <!-- <button id="clear-completed">
        Clear completed (1)
    </button> -->
    {{#if hasCompleted}}
	    <button id="clear-completed" {{action "clearCompleted"}}>
	        Clear completed ({{completed}})
	    </button>
	{{/if}}
</footer>  